### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Ignorer tous les fichiers compilés .class
*.class

# Ignorer le dossier de sortie de compilation (comme 'classes/', 'bin/', 'target/')
classes/
bin/
target/
out/

# Ignorer les fichiers spécifiques aux IDEs
.idea/
*.iml
.vscode/

# Ignorer les fichiers de logs
*.log
